.equipment-details-container {
  max-width: 1200px;
  height: auto;
  margin: 90px auto 40px; 
  background: linear-gradient(to left, rgb(199, 240, 245), #ffffff);
  border: 2px solid rgb(111, 216, 221) !important;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  }
  
  .equipment-details-container h2 {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #333;
    width: 100%;
  }
  
  .equipment-info-container {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
  }
  
  .equipment-image-container {
    flex-basis: 50%;
    text-align: center;
    padding: 20px;
    border-right: 2px solid #e0e0e0;
  }
  
  .equipment-image {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 8px;
  }
  
  .equipment-details {
    flex-basis: 50%;
    padding-left: 20px;
  }
  
  .equipment-title {
    font-size: 22px;
    font-weight: bold;
    color: rgb(25, 126, 139);
  }
  
  .equipment-description,
  .location-address,
  .price-per-day {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .price-per-day {
    white-space: nowrap;
    display: inline-block;
  }
  
  .rental-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .rental-form label {
    font-weight: bold;
    color: #444;
  }
  
  .rental-form input[type="date"] {
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: #ff6666;
  }
  
  .success-message {
    color: #33cc33;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    overflow: hidden;
  }
  
  .input-group .form-control {
    flex-grow: 1;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    color: #495057;
  }
  
  .calendar-icon {
    color: #6c757d;
    background-color: transparent !important;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
  
  .rental-form .btn {
    background-color: rgb(81, 185, 199);;
    border: none;
    width: 236px;
  }
  
  .rental-form .btn:hover {
    background-color: rgb(55, 149, 161);;
  }
  