.navbar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in-icon {
  font-size: 1.2rem;
  color: #495057;
  text-decoration: none;
}

.sign-in-icon:hover {
  color: #333;
}

.account-icon-container {
  position: relative;
}

.account-icon-container .dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  border: none; 
  border-radius: 0;
}

.account-icon-container:hover .dropdown-menu {
  display: block;
}

.account-icon-container .account-icon {
  color: gray;
  font-size: 1.5rem;
}

.account-icon-container .account-icon:hover {
  color: rgb(41, 151, 171);
}

.dropdown-menu a, .dropdown-menu button {
  display: block;
  padding: 8px 10px; 
  color: #333;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #f5f5f5;
}

.account-icon-container .dropdown-menu button {
  display: block;
  padding: 10px;
  background-color: white;
  border: none !important;
  color: #333;
  cursor: pointer;
  text-align: left;
}
.search-form {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #fff;
  margin: 0 20px;
}

.search-input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  flex-grow: 1;
}

.search-input::placeholder {
  font-style: italic;
  color: #999;
}

.account-icon-container .dropdown-menu button:hover {
  color: rgb(37, 150, 165);
}

.navbar-brand {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(67, 157, 169) !important;
  text-decoration: none;
  margin-right: 20px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(127, 221, 226);
  border-radius: 50%;
  background-color: rgb(67, 157, 169); 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

button .user-avatar, button .user-avatar:hover, button .user-avatar:focus {
  text-decoration: none; 
}

.account-icon, .account-icon:hover, .account-icon:focus {
  text-decoration: none; 
  border: none !important;
}
