.dashboard-cont {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sub-navigation {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #f8f9fa;
}

.content-container {
  padding-top: 100px !important;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: white;
}
.user-details-section {
  flex: 1;
  margin: 0 10px;
  position: relative; 
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.header-section {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  margin-top: 3px;
}

.header-section h2 {
  margin: 0;
  flex-grow: 1;
  font-size: 1.4rem;
  color: #080808;
}

.user-details-section button {
  background: linear-gradient(to bottom left, #ffffff, rgb(145, 233, 236));
  color: rgb(50, 49, 49);
  border: 2px solid rgb(111, 216, 221) !important;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15); 
}
.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-input {
  border-radius: 0 10px 10px 0;
  border: 1px solid #00796b;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: none;
}

.profile-section {
  flex: 3;
  padding: 20px;
  margin-left: 20px;
  background: linear-gradient(to bottom, #ffffff, rgb(214, 239, 243));
  border-radius: 4px;
  border: 2px solid rgb(111, 216, 221) !important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.profile-section h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(38, 39, 39);
}

.profile-section .section-label {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 5px; 
  padding-bottom: 0;
}

.profile-section .info-line {
  font-size: 1.1rem;
  color: #333;
  margin: 10px 0;
  display: flex; 
  justify-content: space-between; 
}

.profile-section .info-label {
  font-weight: bold;
  text-transform: uppercase;
  color: #1f2020;
  margin-right: 0.5em; 
}

.profile-section .info-value {
  font-size: 1.1rem;
  color: #000;
  flex: 2; 
  text-align: left; 
}

.profile-section hr {
  border: none;
  border-top: 1px solid #b6b5b5;
  margin-top: 0;
  margin-bottom: 20px;
}
.user-icon {
  width: 70px; 
  margin-bottom: 2px; 
}

.rentals-section {
  flex: 3; 
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(199, 240, 245);
  border-radius: 4px;
  border: 2px solid rgb(111, 216, 221);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 20px;
}
.users-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.user-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.user-card:hover {
  transform: translateY(-5px);
}

.user-details p {
  margin: 5px 0;
  font-size: 18px; 
  line-height: 1.5;
}

.user-details p strong {
  font-weight: bold;
  font-size: 18px;
}

.rentals-section h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #282828;
}

.sub-navigation a {
  color: inherit;
  text-decoration: none;
  padding: 0 20px; 
}


@media (max-width: 768px) {
  .my-account-container {
    flex-direction: column;
    align-items: center;
  }

  .user-details-section, .rentals-section {
    max-width: 100%; 
    margin: 10px 0; 
  }
}

.rentals-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.rental-item {
  display: flex;
  align-items: center; 
  border: 2px solid rgb(111, 216, 221);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(to right, #ffffff, rgb(199, 240, 245));
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  flex-direction: row; 
}

.rental-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.rental-preview {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rental-bike-image {
  width: 150px;
  margin-right: 20px;
}

.rental-brief {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: calc(100% - 180px); 
  margin-left: 180px; 
}

.rental-brief p {
  margin: 0;
  text-align: left; 
  flex-grow: 1;
}

.expand-icon {
  margin-left: auto; 
}
.rental-details {
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 10px;
}

.rental-details p {
  margin: 5px 0;
  line-height: 1.6; 
  color: #333; 
}

.rental-details strong {
  font-weight: 600; 
  color: #1194ab; 
}

.account-settings-button {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%; 
  background-color: #ffffff; 
  color: #333333; 
  border: 1px solid #cccccc;
  padding: 8px 20px; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  font-size: 16px; 
  cursor: pointer;
}

.bi-gear-fill, .bi-caret-right-fill {
  margin: 0 5px; 
  color: rgb(61, 61, 61);
}

.account-settings-button i {
  vertical-align: middle;
}

.edit-modal-title {
  font-size: 24px;
  font-weight: bold;
  color: hsl(173, 100%, 24%);
}
.edit-modal-body {
  background-color: #e0f7fa;
  padding: 20px;
}
.edit-modal-header {
  background-color: #e0f7fa;
}
.edit-modal-footer {
  background-color: hsl(173, 100%, 24%);
  border-top: none;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.edit-modal-button {
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: transparent;
  color: #00796b;
  border: none;
}

.edit-modal-button:hover {
  background-color: transparent !important;
  color: hsl(172, 81%, 19%);
}

.modal-footer {
  background-color: #e0f7fa; 
}
.edit-button {
  border: none;
}
.edit-button :hover {
  background-color: transparent !important;
}
.form-control {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f8f9fa;
  box-shadow: none; 
}

.form-label {
  font-weight: bold;
  color: #004d40;
}
.input-group {
  display: flex;
  align-items: center;
}

.icon-no-bg {
  background-color: transparent;
  border: none;
  padding-right: 10px;
  color: #00796b;
}

.cancel-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link-button {
  background: none !important;
  border: none !important;
  color: #000 !important;
  text-decoration: underline !important;
  cursor: pointer !important;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.link-button:hover,
.link-button:focus,
.link-button:active {
  text-decoration: none !important;
  background: none !important; 
  color: #000 !important; 
  outline: none !important;
}
.rental-modal-title {
  font-size: 24px;
  font-weight: bold;
  color: hsl(173, 100%, 24%);
}

.rental-modal-body {
  background-color: #e0f7fa;
  padding: 20px;
}

.rental-modal-header {
  background-color: #e0f7fa;
}
.update-message {
  color: green;
  font-size: 1rem;
  text-align: center;
  background-color: #e0f7fa;
  padding: 10px;
  border-radius: 5px;
}
