.star-rating {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.star-rating button {
    background: none;
    border: none;
    cursor: pointer;
}

.star-rating .star {
    color: #e4e5e9;
}

.star-rating .on .star {
    color: #ffc107
}

.star-rating .off .star {
    color: #e4e5e9;
}
