.title-and-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.title-and-filters :hover {
  color: rgb(67, 157, 169);
}
.page-title, .filter-button {
  font-size: 1rem; 
  color: b(42, 147, 161);
  cursor: pointer; 
  padding: 0; 
  margin: 0; 
  display: inline-block; 
  text-decoration: none; 
}
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #313131;
  border-radius: 5px;
  padding: 2px 8px;
  width: 200px;
  height: 30px;
  margin: 10px auto; 
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  font-size: 14px;
  line-height: 1;
}

.search-icon {
  color: #323131;
  cursor: pointer;
}
.page-title {
  margin-right: 20px;
  font-size: 17px; 
}
.filter-button {
  font-size: 17px; 
}

.page-title:hover, .filter-button:hover {
  background-color: transparent;
  border: none;
}

.page-link {
  text-decoration: none; 
  color: inherit; 
}

.filter-dropdown {
  position: relative;
  z-index: 2;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10; 
  width: 200px;
}
.filter-dropdown:hover .dropdown-content {
  display: block; 
}

.dropdown-content ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.dropdown-content ul li {
  padding: 10px; 
  cursor: pointer; 
}

.dropdown-content ul li:hover {
  background-color: #e0e0e0; 
}

.sort-select {
  border: none;
  padding: 10px;
  cursor: pointer;
}

.bikes-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.bikes-container .bike-card {
  margin: 10px; 
}

.bikes-container .bike-card img {
  width: 100%; 
  height: auto; 
  max-height: 200px; 
  object-fit: contain;
}
.models-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: flex-start; 
  gap: 20px; 
}

.add-model-button-container {
  text-align: center; 
  margin: 5px 0; 
}
.add-model-button {
  color: rgb(42, 147, 161); 
  background-color: transparent; 
  border: none;
  padding: 8px 16px; 
  font-size: 1rem; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center;
}

.add-model-button:hover, .add-model-button:focus, .add-model-button:active {
  color: rgb(7, 172, 180); 
  background-color: transparent !important;
  box-shadow: none; 
  outline: none;
}

.bi-plus-circle {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .bike-card, .equipment-card {
    width: 90%; 
    margin: 1rem auto; 
  }
}
