.bike-details-container {
  max-width: 1200px;
  height: auto;
  margin: 90px auto 40px; 
  background: linear-gradient(to left, rgb(199, 240, 245), #ffffff);
  border: 2px solid rgb(111, 216, 221) !important;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.bike-info-container {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
}

.bike-image-container {
  flex-basis: 50%;
  text-align: center;
  padding: 20px;
  border-right: 2px solid #e0e0e0;
}

.bike-image {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 300px;
  border-radius: 8px;
}

.bike-details {
  flex-basis: 50%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.bike-title, .bike-description, .location-address, .price-per-day {
  font-size: 16px;
  margin-bottom: 10px;
}

.ratings-and-feedback {
  display: flex;
  align-items: start;
  gap: 20px; 
}

.average-rating {
  flex-grow: 1;
}
.average-rating, .star-rating :hover{
  background-color: transparent !important;
}
.feedback-entry .star-rating {
  font-size: 18px;  
}
.feedback-section {
  background: linear-gradient(to left,rgb(224, 244, 247), #ffffff);
  padding: 15px;
  max-height: 200px;
  overflow-y: auto;
  width: 400px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.feedback-entry {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.feedback-entry:last-child {
  border-bottom: none;
}

.feedback-entry p {
  margin: 5px 0;
  color: #333;
}
.feedback-entry strong {
  color: black;
  font-size: 16px; 
}
.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  overflow: hidden;
}

.input-group .form-control {
  flex-grow: 1;
  border: none;
  padding: 0.75rem;
}

.calendar-icon {
  padding: 8px;
  background-color: transparent !important;
  border: none;
}

.rental-form .btn {
  background-color: rgb(81, 185, 199);;
  border: none;
  width: 236px;
}

.rental-form .btn:hover {
  background-color: rgb(55, 149, 161);;
}
